.workBtnCont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align buttons to the left side */
}

@media screen and (min-width: 700px) {
    .workBtnCont {
        flex-direction: row;
        align-items: center;
    }
}
